# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "npm" # See documentation for possible values
    directory: "/mono" # Location of package manifests
    open-pull-requests-limit: 20
    schedule:
      interval: "daily"
      time: "04:00"
    groups:
      react:
        patterns:
          - "react*"
          - "@types/react*"
      vitest:
        patterns:
          - "vitest*"
          - "@vitest*"
      astro:
        patterns:
          - "astro*"
          - "@astro*"
          - "sharp"
      solidjs:
        patterns:
          - "solid-js*"
          - "vite-plugin-solid"
  - package-ecosystem: "npm"
    directory: "/native" # Location react native package.json
    open-pull-requests-limit: 20
    schedule:
      interval: "daily"
      time: "04:00"
    groups:
      expo:
        patterns:
          - "expo*"
          - "@expo*"
          - "expo-atlas"
      vitest:
        patterns:
          - "vitest*"
          - "@vitest*"
      react-native:
        patterns:
          - "@react-native*"
      react-navigation:
        patterns:
          - "@react-navigation*"
      react-compiler:
        patterns:
          - "eslint-plugin-react-compiler"
          - "babel-plugin-react-compiler"
      react-native-reusables:
        patterns:
          - "@rn-primitives*"
          - "nativewind"
      babel:
        patterns:
          - "@babel*"
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    # Workflow files stored in the default location of `.github/workflows`. (You don't need to specify `/.github/workflows` for `directory`. You can use `directory: "/"`.)
    directory: "/"
    schedule:
      interval: "daily"
      time: "04:00"
