name: autofix.ci  # needed to securely identify the workflow

on:
  pull_request:
    branches: [main, "feature/*"]
  push:
    branches: [main, "feature/*"]
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref || github.run_id }}
  cancel-in-progress: true

env:
    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    TURBO_URL: ${{ secrets.TURBO_URL }}
    TURBO_CODE: ${{ secrets.TURBO_CODE }}

jobs:
    format_fix:
        runs-on: macos-26
        timeout-minutes: 15
        steps:
            - uses: actions/checkout@v6.0.2
            - uses: pnpm/action-setup@v4.2.0
              with:
                version: 10.29.3
            - name: pnpm install
              run: pnpm install --frozen-lockfile
            - name: dedupe pnpm
              run: pnpm dedupe
            - name: format
              run: pnpm format:fix
            - name: lint
              run: pnpm lint:fix
            - name: pod install
              run: cd native/ios && pod install --repo-update

            - name: Suggest format changes
              uses: autofix-ci/action@v1.3.2

