name: Android Build CI/CD

# Only code merged to main with new release notes can be released as a build.
on:
  push:
    branches: [main]
    paths:
      - "native/android/WhatsNew/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  android-build:
    runs-on: ubuntu-latest
    env:
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
    defaults:
      run:
        working-directory: native
    timeout-minutes: 40
    steps:
      - uses: actions/checkout@v4.2.2
      # - uses: dorny/paths-filter@v3.0.2
      #   id: changes
      #   with:
      #     filters: |
      #       whatsNew:
      #         - 'native/android/WhatsNew/**'
      - uses: pnpm/action-setup@v4.0.0
        with:
          version: 9.12.2
      - uses: actions/setup-java@v4.5.0
        with:
          distribution: "temurin" # See 'Supported distributions' for available options
          java-version: "17"

      - name: install dependencies
        run: pnpm install --frozen-lockfile
      - name: add .env file
        run: echo '${{ secrets.CLIENT_SECRETS }}' > .env

      # Automatically overrides the version code and version name through the github actions
      - name: Bump version
        uses: chkfung/android-version-actions@v1.2.3
        with:
          gradlePath: native/android/app/build.gradle
          versionCode: ${{github.run_number}}
          versionName: "1.2.0"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4.2.1
        with:
          cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
        # Use ./gradlew and not gradle as that uses the wrapper and the correct version of gradle
      - run: cd android && ./gradlew bundleRelease --scan

      - name: Sign ABB
        uses: r0adkll/sign-android-release@v1
        # ID used to access action output
        id: sign_app
        with:
          releaseDirectory: native/android/app/build/outputs/bundle/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4.4.3
        with:
          name: Signed app bundle
          path: ${{steps.sign_app.outputs.signedReleaseFile}}
          retention-days: 4

      # Distribute  App to google play
      - name: Publish to Play Store internal test track
        # if: ${{ steps.changes.outputs.whatsNew == 'true' }}

        uses: r0adkll/upload-google-play@v1.1.3
        with:
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
          packageName: com.guardianghost
          releaseFiles: native/android/app/build/outputs/bundle/release/app-release.aab
          whatsNewDirectory: native/android/WhatsNew
          track: alpha
          status: completed
          inAppUpdatePriority: 3
