name: main-ci-mono

on:
  push:
    paths:
        - "mono/**"

jobs:
  main-ci-mono:
    name: Main CI Mono
    timeout-minutes: 5
    runs-on: ubuntu-latest

    env:
      TURBO_URL: ${{ secrets.TURBO_URL }}
      TURBO_CODE: ${{ secrets.TURBO_CODE }}

    steps:
      - uses: actions/checkout@v4.2.1
      - uses: pnpm/action-setup@v4.0.0
        with:
          version: 9.11.0
      - name: install dependencies
        run: cd mono && pnpm install --frozen-lockfile
      - name: lint
        run: cd mono && pnpm lint
      - name: format
        run: cd mono && pnpm format:check
      - name: build
        run: cd mono && pnpm build:ci
