name: main-ci-mono

on:
  push:

jobs:
  main-ci-mono:
    name: Main CI Mono
    timeout-minutes: 5
    runs-on: ubuntu-latest

    env:
      TURBO_URL: ${{ secrets.TURBO_URL }}
      TURBO_CODE: ${{ secrets.TURBO_CODE }}

    steps:
      - uses: actions/checkout@v6.0.0
      - uses: pnpm/action-setup@v4.2.0
        with:
          version: 10.20.0
      - name: install dependencies
        run: pnpm install --frozen-lockfile
      - name: type check
        run: pnpm type-check
      - name: build
        run: pnpm build:ci
