name: main-ci-native

on:
  push:
    paths:
      - "native/**"

jobs:

  main-ci-native:
    name: Main CI native
    timeout-minutes: 5
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.2.2
      - uses: pnpm/action-setup@v4.0.0
        with:
          version: 9.11.0
      - name: install dependencies
        run: cd native && pnpm install --frozen-lockfile
      - name: lint
        run: cd native && pnpm lint
      - name: format
        run: cd native && pnpm format:check
      - name: type check
        run: cd native && pnpm type-check
