name: Update definitions

# Run every 10 mins during Bungie's working hours.
# The Action takes ~10 seconds to run if there is no new manifest.
# Github give 2000 minutes (120_000 seconds) per month
on:
  workflow_dispatch:
  schedule:
    - cron: "*/10 15-23 * * *"
    - cron: "*/10 0-2 * * *"

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      TURBO_URL: ${{ secrets.TURBO_URL }}
      TURBO_CODE: ${{ secrets.TURBO_CODE }}

    permissions:
      contents: read
      deployments: write
    name: Deploy
    steps:
      - uses: actions/checkout@v5.0.0
      - uses: oven-sh/setup-bun@v2
      - uses: actions/setup-node@v6.0.0
      - uses: pnpm/action-setup@v4.2.0
      - name: bun install
        run: cd minifier && bun run next_gen.ts --check-manifest
        shell: bash {0}
      - name: copy json definitions
        run: cd minifier && mv json  ../native/public
      - name: deploy website
        uses: cloudflare/wrangler-action@v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy native/public --project-name=gg-app
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
      - name: Send Slack Notification
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        run: |
          curl -X POST -H 'Content-type: application/json' --data '{"text":"Guardian Ghost: New Destiny Item Definitions were just created"}' $SLACK_WEBHOOK_URL
